*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    border: 3px solid black;
    width: 1366px;
    height: 40px;
    font-size: large;
    background-color: black;
    justify-content: center;  
}
a{
    text-decoration: none;
    color: white;
}
li{
    display: inline;
    padding: 30px;
}
.center{
    text-align: center;
     font-size: larger; 
    background-color: black;

}
h1{
    font-size: 60px;
    color: white;
}
.para{
    font-size: 30px;
}
p{
    color: white;
}
p a{
    color: green;
}
.second center{
    background-color: white;

}
#1{
    color: black;
}
#2{
    color: black;
}






























































